/* box sizing: http://www.paulirish.com/2012/box-sizing-border-box-ftw */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#main {
    width:90%;
    margin:auto;
    padding-bottom:20px;
    padding-top:20px;
    text-align:center;
}

.alert {
    background-color:#b3b3b3;
    width:100%;
    text-align:center;
    text: bold;
    position:relative;
    margin: 0 auto;
}

p {
   padding: 10px;
}

/*----------------------------------------------------
Forms
-----------------------------------------------------*/

input[type=text], input[type=email], input[type=password], textarea, select {
    clear:both;
    display:block;
    width:100%;
    font-size:1.2rem;
    padding:3px;
    font-family:Consolas, Courier, monospace;
}

.form-group {
    clear:both;
    display:block;
    width:75%;
    margin: 0 auto;
}

.clear {
    clear:both;
    display:block;
    padding-top:15px;
}

input[type='checkbox'] {
    display:inline;
}

input[type='checkbox'] + label {
    display:block;
}

label {
    margin-top:20px;
    display:block;
    font-size:12px;
    font-size:1.2rem;
    letter-spacing:.75px;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    margin: 0 auto;
}

.error {
    list-style-type:none;
    color:#a94442; /* reddish */
    text-align:left;
    margin:0;
    padding:0;
    font-size:1.2rem;
    font-size:12px;
    font-style:italic;
}

.success {
    color:#3c763d; /* greenish */
}

.details {
    font-size:1.1rem;
    font-size:11px;
    font-style:italic;
}

nav {
    border-top:2px solid #eee;
    border-bottom:2px solid #eee;
    padding:5px;
    margin-top:2px;
    color: #666666;
}

/*----------------------------------------------------
Misc
-----------------------------------------------------*/
/* Clear Fix: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
